.relatedproducts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 90vh;
}

.relatedproducts h1 {
    color: #171717;
    font-size: 50px;
    font-weight: 600;
}

.relatedproducts hr {
    width: 200px;
    height: 6px !important;
    border: 10px;
    color: red;
}

.relatedproducts-item {
    margin-top: 50px;
    display: flex;
    gap: 30px;
}

@media only screen and (max-width: 576px) {

    .relatedproducts h1 {
        font-size: 35px;
        margin: 20px 0;
    }

    .relatedproducts-item {
        margin-top: 0px;
    }

    .relatedproducts-item {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

}